@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__link/feynman__link.css);

.feynman {
  margin: 0 auto;
  padding-top: 100px;
  background-color: #f2f2f2;
  height: 790px;
  display: block;
  position: relative;
  background-image: url('../images/feynman-image.png');
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
}